@model IEnumerable<Plano>

@{

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Home Page";
    
}
<div class="text-center">
    <h1 class="display-4">Seja Bem vindo a Telzir</h1>
    
</div>


    <h3>Conheça nossos Planos</h3>
    <p class="lead">A Telzir tem uma enorme Satisfação em tê-lo conosco. Conheça nossos planos abaixo.</p>
        
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Planos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    @foreach (var item in ViewBag.Planos ) {          
        <th scope="row"><a class="dropdown-item" href="Planos/Oferta/@item.Id">@item.Nome</a></th>
        
    }
    </tr>
  </tbody>
</table>

