@model IEnumerable<Plano>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Planos</a>
    <div class="dropdown-menu">
        @foreach (var item in Model) {
            <a class="dropdown-item" href="Planos/Details/@item.Id">@item.Nome</a>
        }
    </div>
</li>